[submodule "ffi/tree_sitter/tree-sitter-odin"]
	path = ffi/tree_sitter/tree-sitter-odin
	url = https://github.com/tree-sitter-grammars/tree-sitter-odin.git
[submodule "ffi/tree_sitter/tree-sitter-lib"]
	path = ffi/tree_sitter/tree-sitter-lib
	url = https://github.com/tree-sitter/tree-sitter.git
[submodule "vendor/odin-mcp"]
	path = vendor/odin-mcp
	url = https://github.com/RainerXE/odin-mcp.git
[submodule "vendor/odin-sqlite3"]
	path = vendor/odin-sqlite3
	url = http://100.106.38.78:3000/Rainer/odin-sqlite.git
